<div class="edit-form">

    <div *ngIf="!loading">
        <button type="button" class="btn btn-dark" (click)="voltar()">
            &#10094; Voltar
        </button>
    </div>

    <div *ngIf="currentPaciente?.id && !loading">
        <h4 style="text-align: center">Paciente</h4>
        <app-paciente-form [paciente]="currentPaciente" (save)="updatePaciente($event)"></app-paciente-form>
        <br>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-danger" (click)="deletePaciente()">
                    Apagar
                </button>
            </div>
        </div>
    </div>


    <div *ngIf="!currentPaciente?.id && !loading">
        <br />
        <p>Paciente não encontrado...</p>
    </div>
</div>